<header>
  <h1>
    GraphQL Sample App
  </h1>
</header>

<main>
  <h2>You have {{ viewerFollowerCount }} followers</h2>
  <h2>Your followers, on average, have {{ averageFollowerFollowersCount }} followers</h2>
</main>

<footer>
  <a href="https://glitch.com/edit/#!/remix/github-graphql-sample-app">
    Remix this in Glitch
  </a>
</footer>